<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lc.clz.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.lc.clz.entities.User" >
    <id column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="userPwd" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="DECIMAL" />
    <result column="USER_QQ" property="userQq" jdbcType="DECIMAL" />
    <result column="USER_WECHAT" property="userWechat" jdbcType="VARCHAR" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_SEX" property="userSex" jdbcType="INTEGER" />
    <result column="USER_AGE" property="userAge" jdbcType="DECIMAL" />
    <result column="USER_ADDRESS" property="userAddress" jdbcType="VARCHAR" />
    <result column="USER_ROLE" property="userRole" jdbcType="INTEGER" />
    <result column="USER_LEFT_MONEY" property="userLeftMoney" jdbcType="DECIMAL" />
    <result column="USER_REAL_NAME" property="userRealName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, USER_PWD, USER_PHONE, USER_QQ, USER_WECHAT, USER_EMAIL, USER_SEX, 
    USER_AGE, USER_ADDRESS, USER_ROLE, USER_LEFT_MONEY, USER_REAL_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from USER
    where USER_ID = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from USER order by userId
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from USER
    where USER_ID = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lc.clz.entities.User" >
    insert into USER (USER_ID, USER_NAME, USER_PWD, 
      USER_PHONE, USER_QQ, USER_WECHAT, 
      USER_EMAIL, USER_SEX, USER_AGE, 
      USER_ADDRESS, USER_ROLE, USER_LEFT_MONEY, 
      USER_REAL_NAME)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=DECIMAL}, #{userQq,jdbcType=DECIMAL}, #{userWechat,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER}, #{userAge,jdbcType=DECIMAL}, 
      #{userAddress,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER}, #{userLeftMoney,jdbcType=DECIMAL}, 
      #{userRealName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lc.clz.entities.User" >
    insert into USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPwd != null" >
        USER_PWD,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="userQq != null" >
        USER_QQ,
      </if>
      <if test="userWechat != null" >
        USER_WECHAT,
      </if>
      <if test="userEmail != null" >
        USER_EMAIL,
      </if>
      <if test="userSex != null" >
        USER_SEX,
      </if>
      <if test="userAge != null" >
        USER_AGE,
      </if>
      <if test="userAddress != null" >
        USER_ADDRESS,
      </if>
      <if test="userRole != null" >
        USER_ROLE,
      </if>
      <if test="userLeftMoney != null" >
        USER_LEFT_MONEY,
      </if>
      <if test="userRealName != null" >
        USER_REAL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=DECIMAL},
      </if>
      <if test="userQq != null" >
        #{userQq,jdbcType=DECIMAL},
      </if>
      <if test="userWechat != null" >
        #{userWechat,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userAge != null" >
        #{userAge,jdbcType=DECIMAL},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userLeftMoney != null" >
        #{userLeftMoney,jdbcType=DECIMAL},
      </if>
      <if test="userRealName != null" >
        #{userRealName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lc.clz.entities.User" >
    update USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=DECIMAL},
      </if>
      <if test="userQq != null" >
        USER_QQ = #{userQq,jdbcType=DECIMAL},
      </if>
      <if test="userWechat != null" >
        USER_WECHAT = #{userWechat,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        USER_SEX = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userAge != null" >
        USER_AGE = #{userAge,jdbcType=DECIMAL},
      </if>
      <if test="userAddress != null" >
        USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        USER_ROLE = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userLeftMoney != null" >
        USER_LEFT_MONEY = #{userLeftMoney,jdbcType=DECIMAL},
      </if>
      <if test="userRealName != null" >
        USER_REAL_NAME = #{userRealName,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lc.clz.entities.User" >
    update USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=DECIMAL},
      USER_QQ = #{userQq,jdbcType=DECIMAL},
      USER_WECHAT = #{userWechat,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_SEX = #{userSex,jdbcType=INTEGER},
      USER_AGE = #{userAge,jdbcType=DECIMAL},
      USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      USER_ROLE = #{userRole,jdbcType=INTEGER},
      USER_LEFT_MONEY = #{userLeftMoney,jdbcType=DECIMAL},
      USER_REAL_NAME = #{userRealName,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
</mapper>